$flex:flex;
$direction:row;
$direction2:column;
$position:center;

$w:1170px;
$h:300px;

$color:#fff;
$fz:14px;
$fw:400;
$text:uppercase;
$txt:center;

$yel: #ffc61a;
$relative:relative;

$blck:#000;

$marg: 30px;

$br:3px;


$pos: relative;
$top:top;
$left:left;


